<f:if condition="{processedRow.tx_epochenapoleoncenormdata_viaf}">
    <strong><f:translate key="LLL:EXT:epochenapoleon_ce_normdata/Resources/Private/Language/locallang_db.xlf:tt_content.tx_epochenapoleoncenormdata_viaf" /></strong>
    {processedRow.tx_epochenapoleoncenormdata_viaf} (raw={row.tx_epochenapoleoncenormdata_viaf})<br>
</f:if>
<f:if condition="{processedRow.tx_epochenapoleoncenormdata_gnd}">
    <strong><f:translate key="LLL:EXT:epochenapoleon_ce_normdata/Resources/Private/Language/locallang_db.xlf:tt_content.tx_epochenapoleoncenormdata_gnd" /></strong>
    {processedRow.tx_epochenapoleoncenormdata_gnd} (raw={row.tx_epochenapoleoncenormdata_gnd})<br>
</f:if>
<f:if condition="{processedRow.tx_epochenapoleoncenormdata_lccn}">
    <strong><f:translate key="LLL:EXT:epochenapoleon_ce_normdata/Resources/Private/Language/locallang_db.xlf:tt_content.tx_epochenapoleoncenormdata_lccn" /></strong>
    {processedRow.tx_epochenapoleoncenormdata_lccn} (raw={row.tx_epochenapoleoncenormdata_lccn})<br>
</f:if>
